body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
html, body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
body{
    background-image: url( ../img/other/bg02.jpg );
    background-attachment: fixed;
    color: white;
}
.logo > img{
    width: 100%;
}

.header-izq{
    background-color: #222;
    opacity: 0.8;
    padding: 1%;
    font-size: 20px;
    text-align: right;
    transition: all .3s ease-in-out;
}
.header-izq:hover{
    opacity: 1.0;
    background-color: #555;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.header-der{
    background-color: #222;
    opacity: 0.8;
    padding: 1%;
    font-size: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.header-der:hover{
    opacity: 1.0;
    background-color: crimson;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#header > p{
    padding: 15px;
    position: fixed;
    border-radius: 50%;
    font-size: 22px;
    background-color: rgba(150,150,150,.5);
    margin: 20px;
    transition: all .3s linear;
}

#header > p:hover{
    background-color: rgba(50,150,50,1);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
}
.nav{
    margin-left: 100px;
    margin-right: 100px;
    z-index: 150;
}
.container{
    width: 84%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    padding: 30px;
}
.carousel img{
    width: 100%;
    margin: auto;
}
.text{
    text-align: center;
}
#map{
    width: 100%;
    height: 80%;
    border-radius: 30px;
    transition: all .3s linear;
}
#map:hover{
    box-shadow: -2px -2px 10px 1px rgba(255, 255, 255, 0.2), -3px -3px 15px 15px rgba(255, 255, 255, 0.7);
    transition: all .3s linear;
}
.info-content{
    color: black;
}
.map-title{
    font-family: cursive;
    font-weight: bold;
    margin: 0;
}
.info-title{
    font-family: cursive;
    font-weight: bold;
    font-style: oblique;
    margin: auto;
    text-align: center;
}
.icons-bar{
    display: block;
    clear: both;
    text-align: center;
}
.icon{
    cursor: pointer;
    width: 40px;
    margin: 5px;
}
.block-2{
    border: 2px white solid;
    padding: 20px;
    border-radius: 25px;
    background-image: url(../img/other/black-texture.jpg);
}
.block-2 > h2{
    text-align: center;
    font-weight: bolder;
}
#sub-menu{
    position: absolute;
    width: 15%;
    left: 21%;
    padding-top: 10px;
    background-color: rgba(0,0,0, 0.7);
    padding-left: 0px;
    padding-right: 0px;
    z-index: 9999;
}
.opc>a {
    display: block;
	color: white;
    width: 100%;
    margin-left: 5px;
}
.opc{
    padding: 5px;
}
.opc:hover{
    background-color: rgba(50,50,50,0.8);
    border-right: 4px white solid;
}
.opc>a:hover{
    text-decoration: none;
}
@media screen and (max-width: 544px){
    .nav{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 6px;
    }
    button.nav-btn{
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .info-content {
	    transform: scale(0.7);
    }
    .header-izq, .header-der{
        font-size: 12px;
    }
    h3, #header > p{
        font-size: 12px;
    }
}
@media screen and ( min-width: 545px ){
    .nav{
        margin-left: 30px;
        margin-right: 30px;
        font-size: 9px;
    }
    button.nav-btn{
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .info-content {
	    transform: scale(0.75);
    }
    .header-izq, .header-der{
        font-size: 14px;
    }
    h3, #header > p{
        font-size: 15px;
    }
}
@media screen and ( min-width: 768px ){
    .nav{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 13px;
    }
    button.nav-btn{
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .info-content {
	    transform: scale(0.9);
    }
    .header-izq, .header-der{
        font-size: 16px;
    }
    h3, #header > p{
        font-size: 18px;
    }

}
@media screen and ( min-width: 992px ){
    .nav{
        margin-left: 70px;
        margin-right: 70px;
        font-size: 15px;
    }
    button.nav-btn{
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .info-content {
	    transform: scale(0.9);
    }
    .header-izq, .header-der{
        font-size: 16px;
    }
    h3, #header > p{
        font-size: 20px;
    }

}
@media screen and ( min-width: 1200px ){
    .nav{
        margin-left: 90px;
        margin-right: 90px;
        font-size: 15px;
    }
    button.nav-btn{
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .info-content {
	    transform: scale(0.9);
    }
    .header-izq, .header-der{
        font-size: 16px;
    }
    h3, #header > p{
        font-size: 22px;
    }
}






/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.drop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
