.nav-btn{
    background-color: rgba(0,0,0,0.3);
    border: 2px white solid;
    padding: 10px;
    transition: all .3s linear;
}
.nav-btn:hover{
    animation-name: pulso;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.nav > .active{
    background-color: rgba(255,255,255,1);
    border-bottom: 2px blue solid;
    color: black;
    transition: all .3s linear;
}
.nav-btn-left{
    border-radius: 20px 0px 0px 20px;
}
.nav-btn-right{
    border-radius: 0px 20px 20px 0px;
}
.btn-login{
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px;
    transition: all .3s ease-in-out;
}
.btn-login:hover{
    background-color: crimson;
    border: 2px crimson solid;
    transition: all .3s ease-in-out;
}
.btn-reg{
    background-color: rgba(0,0,0,0);
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px;
    transition: all .3s ease-in-out;
}
.btn-reg:hover{
    background-color: dodgerblue;
    border: 2px dodgerblue solid;
    transition: all .3s ease-in-out;
}
@keyframes pulso{
    0%{
        background-color: rgba(0,0,0,0);
        color: white;
    }
    50%{
        background-color: rgba(255,255,255,1);
        color: black;
    }
    100%{
        background-color: rgba(0,0,0,0);
        color: white;
    }
}
